[
  {
    "ParameterKey": "CertificateArn",
    "ParameterValue": "{{AWS_CERTIFICATE_ARN}}"
  },
  {
    "ParameterKey": "CockpitBaseUrl",
    "ParameterValue": "{{AWS_COCKPIT_BASE_URL}}"
  },
  {
    "ParameterKey": "CockpitCpu",
    "ParameterValue": "{{AWS_COCKPIT_CPU}}"
  },
  {
    "ParameterKey": "CockpitDeregistrationDelaySeconds",
    "ParameterValue": "{{AWS_COCKPIT_DEREGISTRATION_DELAY_SECONDS}}"
  },
  {
    "ParameterKey": "CockpitImage",
    "ParameterValue": "{{AWS_COCKPIT_IMAGE}}"
  },
  {
    "ParameterKey": "CockpitMemory",
    "ParameterValue": "{{AWS_COCKPIT_MEMORY}}"
  },
  {
    "ParameterKey": "CollectdServerIp",
    "ParameterValue": "{{AWS_COLLECTD_SERVER_IP}}"
  },
  {
    "ParameterKey": "ExternalSubnets",
    "ParameterValue": "{{AWS_EXTERNAL_SUBNETS}}"
  },
  {
    "ParameterKey": "InternalSubnets",
    "ParameterValue": "{{AWS_INTERNAL_SUBNETS}}"
  },
  {
    "ParameterKey": "ParameterStoreArn",
    "ParameterValue": "{{AWS_PARAMETER_STORE_ARN}}"
  },
  {
    "ParameterKey": "VPC",
    "ParameterValue": "{{AWS_VPC}}"
  },
  {
    "ParameterKey": "JiraBaseUrl",
    "ParameterValue": "{{AWS_JIRA_BASE_URL}}"
  },
  {
    "ParameterKey": "ConfluenceBaseUrl",
    "ParameterValue": "{{AWS_CONFLUENCE_BASE_URL}}"
  }
]
